@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Raleway Reqular'), local('Raleway-Regular'),
  url("../fonts/raleway-regular.woff2") format("woff2"),
  url("../fonts/raleway-regular.woff") format("woff"),
  url("../fonts/raleway-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url("../fonts/raleway-medium.woff2") format("woff2"),
  url("../fonts/raleway-medium.woff") format("woff"),
  url("../fonts/raleway-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
  url("../fonts/raleway-semibold.woff2") format("woff2"),
  url("../fonts/raleway-semibold.woff") format("woff"),
  url("../fonts/raleway-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway Sans-Bold'),
  url("../fonts/raleway-bold.woff2") format("woff2"),
  url("../fonts/raleway-bold.woff") format("woff"),
  url("../fonts/raleway-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway Extra-Bold'),
  url("../fonts/raleway-extrabold.woff2") format("woff2"),
  url("../fonts/raleway-extrabold.woff") format("woff"),
  url("../fonts/raleway-extrabold.ttf") format("ttf");
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --green: #009136;
  --dark-green: #007E31;
  --light-green: #8AC44B;
  --crimson: #EA1A65;
  --dark-gray: #333333;
  --purple: #9B51E0;
  --light-gray: #C4C4C4;
  --dark-white: #E5F0E9;
  --snow: #BDBDBD;
  --gray: #828282;
  --light-black: #1A1A1D;
  --yellow: #F9FF00;
  --pink-red: #D62D30;
  --blue: #2B74B9;
  --dark-blue: #15499F;
  --orange: #F8981D;
  --light-orange: #fcc02a;
  --red: #EB5757;
  --light-blue: #56CCF2;
  --black: #000000;
  --gainsboro: #CCCCCC;
  --silver: #999999;
}

/* применение var(--color-blue); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--dark-white);
}

/* стили для header */

.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  position: relative;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.header__top {
  height: 50px;
  background-color: var(--green);
}

.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu--top {
  width: 53.4%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu--top .menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.socials {
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.header__search {
  display: flex;
  align-items: center;
  margin-left: 75px;
}

.header__search-icon {
  margin-right: 7px;
}

.header__search-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.header__input {
  display: flex;
  align-items: center;
  margin-left: 85px;
}

.header__input-icon {
  margin-left: 7px;
}

.header__input-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.header__bottom {
  height: 50px;
  background-color: var(--white);
}

.menu--bottom {
  width: 94.5%;
}

.menu--bottom .menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
}

.menu--bottom .menu__item--active .menu__link,
.menu--bottom .menu__item:hover .menu__link {
  color: var(--green);
  font-weight: 700;
}

.header__burger {
  flex-shrink: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  margin-left: 50px;
}

.header__burger span {
  width: 100%;
  background-color: var(--black);
  height: 3px;
  display: block;
  position: relative;
  border-radius: 5px;
}

.header__burger span:after,
.header__burger span:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  border-radius: 5px;
}

.header__burger span:before {
  top: -7px;
}

.header__burger span:after {
  bottom: -7px;
}

.header__burger.open span {
  background: transparent;
}

.header__burger.open span:before,
.header__burger.open span:after {
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}

.header__burger.open span:before {
  transition-property: top, transform;
}

.header__burger.open span:after {
  transition-property: bottom, transform;
}

.header__burger.open span:before {
  top: 0;
  transform: rotate(45deg);
}

.header__burger.open span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.header__burger.open span:before,
.header__burger.open span:after {
  transition-delay: 0s, 0.2s;
}

.header__logo {
  position: absolute;
  left: 0;
  top: 0;
}

/* стили для главной */

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  flex: 1 0 auto;
  z-index: 2;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
}

.slider {
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__item {
  position: relative;
}

.slider__text-block {
  position: absolute;
  bottom: 22%;
  width: 59%;
  padding: 30px;
}

.slider-2 .slider__text-block {
  bottom: 0;
  padding: 40px 45px;
}

.slider__text-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.main-text {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-gray);
}

.slider .main-text {
  margin-bottom: 10px;
  color: var(--white);
}

.indicators .main-text {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}

.content__list--4 .main-text {
  font-size: 18px;
  line-height: 24px;
}

.content__list--3-grid .content__item:nth-child(3n+1) .main-text {
  font-size: 24px;
  line-height: 32px;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .main-text {
  font-size: 12px;
  line-height: 16px;
}

.info:not(.info--match) .main-text {
  font-size: 18px;
  line-height: 26px;
}

.content__big .main-text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
  color: var(--white);
}

.content--about-us .main-text {
  margin-bottom: 15px;
  line-height: 36px;
}

.content--search .main-text {
  font-size: 16px;
  line-height: 24px;
}

.content__list--partners .main-text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--dark-gray);
  margin: auto 0;
}

.text-color--white {
  color: var(--white);
}

.text-color--dark-gray {
  color: var(--dark-gray);
}

.text-color--green {
  color: var(--green);
}

.text-color--purple {
  color: var(--purple);
}

.text-color--pink-red {
  color: var(--pink-red);
}

.text-color--dark-blue {
  color: var(--dark-blue);
}

.cards-list {
  display: flex;
  margin-right: auto;
}

.slider .cards-list {
  margin-left: 25px;
}

.content--search .cards-list {
  margin-left: 10px;
}

.content__big .cards-list {
  margin-bottom: 10px;
}

.info--blog .cards-list {
  margin-bottom: 20px;
}

.cards-item {
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  color: var(--white);
  font-weight: 600;
  margin-right: 7px;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .cards-item,
.content--search .cards-item {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 18px;
}

.info:not(.info--match) .cards-item,
.content__big .cards-item {
  font-size: 16px;
  line-height: 24px;
  padding: 1px 7px;
}

.other-text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-gray);
}

.slider .other-text {
  color: var(--green);
}

.content__list .other-text {
  font-weight: 400;
}

.content__list--4 .other-text {
  font-size: 20px;
  line-height: 28px;
}

.content__list--3-grid .content__item:nth-child(3n+1) .other-text {
  font-size: 16px;
  line-height: 24px;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .other-text {
  font-size: 12px;
  line-height: 18px;
}

.content--about-us .other-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.indicators .other-text {
  font-size: 14px;
  line-height: 16px;
}

.content__list--partners .other-text {
  font-weight: 400;
  margin-left: 5px;
  font-size: 14px;
  line-height: 20px;
  display: inline;
}

.background-color--green {
  background-color: var(--green);
}

.background-color--dark-green {
  background-color: var(--dark-green);
}

.background-color--light-green {
  background-color: var(--light-green);
}

.background-color--crimson {
  background-color: var(--crimson);
}

.background-color--blue {
  background-color: var(--blue);
}

.background-color--orange {
  background-color: var(--orange);
}

.background-color--purple {
  background-color: var(--purple);
}

.background-color--red {
  background-color: var(--red);
}

.background-color--light-blue {
  background-color: var(--light-blue);
}

.indicators {
  display: flex;
  width: 505px;
  flex-direction: column;
  padding: 15px 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 595px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.indicators__item {
  padding: 10px;
  position: relative;
  margin: 5px 0;
  width: 100%;
  height: 135px;
  background: rgba(90, 90, 90, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  border: 2px solid transparent;
}

.indicators__item.tns-nav-active {
  border: 2px solid var(--green);
}

.indicators__link {
  display: flex;
  align-items: center;
}

.indicators__img-block {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.indicators__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 115px;
}

.slider__indicators {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  bottom: 3%;
  border-top: 2px solid var(--light-gray);
  margin: 0 auto;
}

.slider__indicators-item {
  padding: 15px 0;
  position: relative;
  bottom: 4px;
  border-top: 6px solid transparent;
  cursor: pointer;
}

.slider__indicators-item:hover>.slider__indicators-text {
  display: block;
}

.slider__indicators-item.tns-nav-active {
  border-top: 6px solid var(--green);
}

.slider__indicators-text {
  display: none;
  width: 315px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  background: rgba(90, 90, 90, 0.1);
  backdrop-filter: blur(20px);
  padding: 20px 15px;
  color: var(--white);
  bottom: 130px;
  left: 0;
}

.slider__arrow-link {
  position: absolute;
  bottom: 6.3%;
  padding: 40px 3px;
}

.slider__arrow-link--left {
  left: 5px;
}

.slider__arrow-link--right {
  transform: rotate(180deg);
  right: 5px;
}

.main-content {
  display: flex;
}

.content {
  width: 71%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content--about-us {
  margin: 25px 0 35px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
}

.content__list--4 .content__item {
  width: calc((100% / 2) - 20px);
}

.content__list--3-grid {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(2 , 1fr);
}

.content__list--3-grid .content__item:nth-child(3n+1) {
  grid-area: 1 / 1 / 3 / 3;
}

.content__list--3-grid .content__item:nth-child(3n+2) {
  grid-area: 1 / 3 / 2 / 4;
}

.content__list--3-grid .content__item:nth-child(3n) {
  grid-area: 2 / 3 / 3 / 4;
}

.content__item {
  background-color: var(--white);
  margin-right: 20px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content__list--1 .content__item {
  width: 100%;
}

.content__list--3 .content__item {
  width: calc((100% / 3) - 20px);
}

.content__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

.content__big .content__img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.content__list--partners .content__img {
  border-radius: 0;
  width: 154px;
  height: 154px;
  margin-bottom: 10px;
}

.content__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__list--1 .content__text-block {
  padding: 30px 25px;
  height: 310px;
}

.content__list--4 .content__text-block {
  padding: 15px 25px 30px;
  height: 235px;
}

.content__list--3-grid .content__item:nth-child(3n+1) .content__text-block {
  padding: 30px 20px 45px;
  height: 295px;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .content__text-block {
  padding: 7px 15px 15px;
  height: 145px;
}

.comments {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  padding: 7px;
  color: var(--white);
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.indicators__img {
  margin: 2px 0;
}

.indicators .comments {
  padding: 0;
  margin: 0;
  box-shadow: none;
  color: var(--green);
}

.content__list--4 .comments {
  position: absolute;
  top: -25px;
  right: 15px;
  margin: 0;
}

.content__list--3-grid .content__item:nth-child(3n+1) .comments {
  position: absolute;
  bottom: 15px;
  right: 20px;
  margin: 0;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .comments {
  display: none;
}

.date-time {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--dark-gray);
}

.slider .date-time {
  font-size: 30px;
  line-height: 44px;
  color: var(--white);
  font-weight: 700;
}

.slider-2 .date-time {
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 10px;
}

.indicators .date-time {
  font-size: 14px;
  line-height: 22px;
  color: var(--white);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .date-time,
.info:not(.info--match) .date-time,
.content--search .date-time {
  font-size: 12px;
  line-height: 18px;
}

.content__big .date-time {
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  margin-bottom: 10px;
}

.time {
  font-weight: 400;
  margin-left: 25px;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .time,
.content__big .time {
  margin-left: 7px;
}

.info:not(.info--match) .time,
.content--search .time {
  margin-left: 9px;
}

.content__section {
  position: absolute;
  background-color: var(--white);
}

.content__list--1 .content__section {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  top: 25px;
  left: 10px;
  padding: 5px 25px;
  border-radius: 10px;
}

.content__list--4 .content__section,
.content__list--3-grid .content__item:nth-child(3n+1) .content__section {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .content__section {
  font-weight: 700;
  font-size: 9px;
  line-height: 14px;
  top: 15px;
  left: 15px;
  padding: 3px 7px;
  border-radius: 7px;
}

.content__big .content__section {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  top: 25px;
  left: 46px;
  padding: 5px 25px;
  border-radius: 10px;
}

.content__play {
  position: absolute;
}

.content__list--1 .content__play {
  top: 190px;
  left: calc(50% - 50px);
}

.content__list--4 .content__play {
  top: 120px;
  left: calc(50% - 25px);
}

.content__list--3-grid .content__item:nth-child(3n+1) .content__play {
  top: 120px;
  left: calc(50% - 37px);
}

.content__list--3-grid .content__item:not(:nth-child(3n+1)) .content__play {
  top: 65px;
  left: calc(50% - 12px);
}

.content__big {
  position: relative;
  width: 860px;
  height: 410px;
  background-image: url("../img/blog-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.content__big .content__link {
  width: 445px;
  padding: 0 0 20px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content__list--partners .content__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 10px;
  height: 295px;
}

.content--search .content__link {
  padding: 10px 20px;
  display: block;
}

.content__big .indicators {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 380px;
  height: 407px;
  margin-left: auto;
}

.content__big .indicators__item {
  width: 100%;
  height: 95px;
  padding: 15px;
  background: rgba(90, 90, 90, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 0 0 10px;
}

.content__big .indicators__item:last-child {
  margin: 0;
}

.content__load {
  padding-right: 20px;
  margin: 30px 0;
}

.content__load-wrapper {
  width: 100%;
  padding: 15px 0;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.content__load-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  margin-right: 25px;
}

.ad {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 0 20px 20px 0;
}

/* стили для сайдбара */

.sidebar .ad {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 0 0 20px 0;
}

.sidebar {
  width: 29.1%;
  border-radius: 10px;
}

.info {
  margin-bottom: 20px;
}

.info__heading-link {
  display: flex;
  align-items: center;
}

.info--match .info__heading-link {
  background-color: var(--dark-green);
  padding: 13px 20px 13px 15px;
}

.info:not(.info--match) .info__heading-link {
  background-color: var(--white);
  padding: 20px 20px 10px 20px;
}

.info__header .info__heading-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info__logo {
  margin-right: 15px;
}

.info__main-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: var(--green);
}

.info--match .info__main-heading {
  color: var(--white);
}

.info__arrow {
  margin-left: auto;
}

.info__main {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.info--match .info__main {
  padding: 15px 20px 10px 15px;
}

.info:not(.info--match) .info__main {
  padding: 0 20px 15px 20px;
}

.info__select {
  width: 100%;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--light-black);
  border-radius: 5px;
}

.info--match .info__select {
  border: 1px solid var(--snow);
}

.info--blog .info__select {
  border: 1px solid var(--green);
}

.info__day-block {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.info__calendar {
  margin-right: 5px;
}

.content--about-us .tabs {
  padding: 20px 0 35px;
  border-top: 1px solid var(--gainsboro);
}

.tabs__navigation {
  display: flex;
}

.content--about-us .tabs__item,
.content--search .tabs__item {
  margin-right: 20px;
}

.info--match .tabs__item {
  margin-right: 2px;
}

.info:not(.info--match) .tabs__item {
  margin-right: 15px;
}

.tabs__item--active .tabs__link {
  border: 1px solid var(--green);
  color: var(--light-black);
}

.content--about-us .tabs__item--active .tabs__link,
.content--search .tabs__item--active .tabs__link {
  color: var(--light-black);
  border-bottom: 2px solid var(--green);
}

.content--search .tabs__item--active .tabs__link-number {
  color: var(--gray);
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
  padding: 5px 10px;
  border: 1px solid var(--snow);
  border-radius: 5px;
}

.content--about-us .tabs__link,
.content--search .tabs__link {
  padding: 0;
  border-bottom: 2px solid transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.tabs__link-number {
  margin-left: 5px;
}

.info__day {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--light-black);
  position: absolute;
  left: 9px;
  top: 14px;
}

.info__block-wrapper {
  height: 760px;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.info--blog .info__block-wrapper {
  height: 595px;
}

.info--quiz .info__block-wrapper {
  height: 410px;
}

.info ::-webkit-scrollbar,
.slider ::-webkit-scrollbar,
.content__big ::-webkit-scrollbar {
  width: 0;
}

.info__heading {
  color: var(--white);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.info__list .info__main {
  border-top: 1px solid  var(--light-gray);
}

.info--match .info__list .info__main {
  padding: 5px 20px 20px 15px;
}

.info:not(.info--match) .info__list .info__main {
  padding: 15px 20px;
}

.info--news .info__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info--news .info__list .info__link {
  height: 175px;
}

.info--blog .info__list .info__link {
  height: 200px;
}

.info__text-wrapper {
  display: flex;
  align-items: center;
}

.info--blog .info__text-wrapper {
  height: 90px;
}

.info--match .info__list .info__main:first-child {
  padding: 10px 20px 20px 15px;
  border-top: none;
}

.info--blog .info__list .info__main:first-child {
  padding: 0 20px 15px;
  border-top: none;
}

.info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__team-list {
  width: 100%;
}

.info__team-item {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.info__team-item:last-child {
  margin-bottom: 0;
}

.info__team-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-gray);
  margin-right: auto;
}

.info__time {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--dark-gray);
}

.info__bet-block {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.info__bet-list {
  display: flex;
}

.info__bet-item {
  margin-right: 15px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.info__bet-item:last-child {
  margin-right: 0;
}

.info__bet {
  background-color: var(--green);
  color: var(--white);
  padding: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.info__coefficient {
  background-color: var(--white);
  color: var(--green);
  padding: 3px 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info__bet-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--light-black);
  padding: 3px 10px;
  background-color: var(--yellow);
  margin-left: auto;
  border-radius: 5px;
}

.info__points {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 5px;
}

.info__points-pen {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--green);
  margin-right: 10px;
}

.author {
  display: flex;
  align-items: center;
}

.content--search .author {
  padding: 20px 30px;
}

.author__img {
  margin-right: 15px;
}

.content--search .author__img {
  margin-right: 40px;
}

.author__name-wrapper {
  display: flex;
  flex-direction: column;
}

.author__list .author__name-wrapper {
  height: 80px;
  justify-content: center;
}

.author__description {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: var(--green);
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author__name {
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  font-weight: 600;
  z-index: 3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__big .author__name {
  color: var(--white);
}

.author__list .author__name {
  font-weight: 800;
}

.content--search .author__name {
  margin-bottom: 6px;
  font-weight: 800;
}

.form__heading {
  font-size: 24px;
  line-height: 35px;
  color: var(--dark-gray);
  font-weight: 800;
  margin-bottom: 7px;
}

.info .form__group {
  margin: 7px 0;
}

.content--search .form__group {
  margin: 0 0 25px;
  position: relative;
}

.form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-black);
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.info .form__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.content--search .form__input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--light-black);
  padding: 15px 20px;
  border: 1px solid var(--gainsboro);
  border-radius: 10px;
  background-color: var(--white);
}

.form__label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--gainsboro);
  border-radius: 50%;
  margin-right: 10px;
}

.form__input:checked+.form__label::before {
  background-color: var(--blue);
}

.form__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  width: 100%;
  padding: 15px;
  background-color: var(--green);
  border-radius: 10px;
  margin-top: 7px;
  border: none;
}

/* стили для страницы о нас */

.content__header {
  margin-right: 20px;
}

.content__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--about-us .content__text-wrapper {
  margin-bottom: 20px;
}

.content--search .content__text-wrapper {
  margin-bottom: 35px;
}

.content--search .content__list .content__text-wrapper {
  margin-bottom: 5px;
}

.requisites {
  display: flex;
  flex-direction: column;
  padding: 5px 20px 15px 30px;
}

.requisites__item {
  display: flex;
  width: 100%;
  padding: 12px 0;
  align-items: center;
  border-bottom: 1px solid var(--snow);
}

.requisites__description {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-gray);
}

.requisites__main {
  width: 50%;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-gray);
}

.pages {
  display: flex;
  justify-content: flex-end;
}

.pages__item {
  margin-left: 7px;
}

.pages__link {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--light-black);
}

.pages__item--active .pages__link {
  background-color: var(--light-black);
  color: var(--white);
  border: 1px solid var(--light-black);
}

.pages__link--points {
  background-color: inherit;
  align-items: flex-end;
  border: none;
}

.content__footer {
  margin-right: 20px;
  margin-bottom: 15px;
}

/* стили для страницы поиск */

.selection {
  background-color: var(--light-orange);
}

.form__icon {
  position: absolute;
  right: 15px;
  top: calc(50% - 20px);
}

/* стили для footer */

.footer {
  width: 100%;
  flex-shrink: 0;
  z-index: 3;
  max-width: 1280px;
  background-image: url("../img/footer-background.png");
  background-size: cover;
  background-position: center;
  height: 410px;
  margin: 0 auto;
  background-color: var(--dark-white);
  display: flex;
  padding: 65px 35px 30px 60px;
  justify-content: space-between;
}

.footer__contact {
  width: 36%;
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;
}

.footer__nav {
  margin-bottom: 50px;
  padding-right: 60px;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gainsboro);
}

.footer__contact-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  margin-top: 25px;
}

.footer__contact-item {
  padding: 8px 0;
}

.footer__contact-link {
  display: flex;
  align-items: center;
}

.footer__contact-icon {
  margin-right: 10px;
}

.footer__contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color:var(--green);
}

.footer__counter {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.footer__counter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.footer__counter-list {
  display: flex;
}

.footer__counter-item {
  margin-left: 35px;
}

.footer__logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo-img:first-child {
  margin-bottom: 7px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.footer__rule {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  margin: 15px 0;
}

.footer__info-block {
  display: flex;
  flex-direction: column;
}

.footer__info-text {
  font-size: 12px;
  line-height: 20px;
  color: var(--gainsboro);
  font-weight: 600;
}

.footer__info-link {
  color: var(--green);
  text-decoration: underline;
}

/* стили для страниц входа , регистрации */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 0;
  width: 465px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 25px 45px;
  text-align: center;
  color: var(--light-black);
  position: relative;
}

.login__logo {
  margin-bottom: 7px;
}

.login__heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 45px;
}

.login--recovery .login__heading {
  margin-bottom: 20px;
}

.login__main-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.login__other-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--silver);
  margin-bottom: 10px;
}

.login--sign-up .login__other-text {
  padding: 0 40px;
}

.login--check-in .login__other-text {
  text-align: left;
}

.login__socials {
  display: flex;
  width: 100%;
  padding: 0 25px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.login--check-in .login__socials {
  margin-top: 15px;
}

.login__link-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 15px 0 25px;
}

.login__link {
  text-decoration: underline;
  color: var(--light-black);
  margin-left: 5px;
}

.login .form {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 auto;
}

.login .form__group {
  width: 100%;
}

.login .form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid var(--gainsboro);
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
}

.login .form__help {
  font-size: 12px;
  padding: 5px 0;
  color: var(--red);
  min-height: 20px;
  font-weight: 700;
  opacity: 1;
  text-align: left;
}

.login .button {
  width: 100%;
  background: var(--green);
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  padding: 10px;
  border: none;
}

.login--sign-up .button {
  margin-bottom: 12px;
}

.login .form__forgot-password {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
  color: var(--light-black);
}

.login__closed {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.login__closed span {
  width: 20px;
  background-color: transparent;
  height: 3px;
  display: block;
  position: relative;
  border-radius: 5px;
}

.login__closed span:after,
.login__closed span:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: var(--black);
  border-radius: 5px;
}

.login__closed span:before {
  top: 0;
  transform: rotate(45deg);
}

.login__closed span:after {
  bottom: 0;
  transform: rotate(-45deg);
}